<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/logo-chronometre-en-ligne.png" class="img-fluid">

            <div class="watch">00:00:00.000</div>
            <div class="col text-center justify-content-arround">
                <button type="button" class="btn btn-warning center-block" *ngIf="!isStarted" (click)="start()">Démarrer</button>
                <button type="button" class="btn btn-danger center-block" *ngIf="isStarted && !isPaused" (click)="pause()">Arrêter</button>
                <button type="button" class="btn btn-secondary center-block" *ngIf="isStarted && !isPaused">Retenir</button>
                <button type="button" class="btn btn-warning center-block" *ngIf="isStarted && isPaused" (click)="continue()">Continuer</button>
                <button type="button" class="btn btn-danger center-block" *ngIf="isStarted && isPaused">Effacer</button>
            </div>
            <table class="table table-striped table-hover col-md-4">
                <thead>
                    <tr>
                        <th scope="col">+/-</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Note</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <button type="button" class="btn btn-sm btn-outline-danger">X</button></th>
                        <td>00:00:00.000</td>
                        <td>
                            <div class="form-group">
                                <input type="email" class="form-control">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            <button type="button" class="btn btn-sm btn-outline-danger">X</button></th>
                        <td>00:00:00.000</td>
                        <td>
                            <div class="form-group">
                                <input type="email" class="form-control">
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">
                            <button type="button" class="btn btn-sm btn-outline-danger">X</button></th>
                        <td>00:00:00.000</td>
                        <td>
                            <div class="form-group">
                                <input type="email" class="form-control">
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>